.all_sensor {
    text-align: center;
    margin-top: 200px;

    margin-left: 35%;
    margin-right: 35%;

    color: white;
}

.sensor {
    margin-bottom: 10px;
}

.submit-button {
    float: right;
}

.sensor_value {
    font-size: 32px;
    text-align: left;
}